NodeRed-export.json
[{"id":"aa8a73c7.8e389","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3a5cf80b.182608","type":"http in","z":"aa8a73c7.8e389","name":"allo","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":470,"y":340,"wires":[[]]},{"id":"51d8e8c9.cd1088","type":"http response","z":"aa8a73c7.8e389","name":"allo2","statusCode":"","headers":{},"x":630,"y":640,"wires":[]},{"id":"a549f5c6.a3a698","type":"file","z":"aa8a73c7.8e389","name":"file","filename":"Test.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":460,"y":800,"wires":[["1c39b5b2.8f72fa"]]},{"id":"9e3404a9.44d6c8","type":"http in","z":"aa8a73c7.8e389","name":"test2","url":"/test2","method":"get","upload":false,"swaggerDoc":"","x":210,"y":800,"wires":[[]]},{"id":"1c39b5b2.8f72fa","type":"template","z":"aa8a73c7.8e389","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":650,"y":800,"wires":[["247c774a.ccfaa8"]]},{"id":"247c774a.ccfaa8","type":"http response","z":"aa8a73c7.8e389","name":"","statusCode":"","headers":{},"x":810,"y":800,"wires":[]},{"id":"4d2d1d8d.460314","type":"function","z":"aa8a73c7.8e389","name":"dude","func":"if(msg.payload === true)\n    global.value = 0;\n\nif (!global.value) {\n  global.value = 0;\n}\nglobal.value +=1;\n\nif(global.value >100){\n    global.value = 0;\n}\n\nglobal.test = global.value;\n\nmsg.count = global.value;\nreturn { payload: global.value };","outputs":2,"noerr":0,"x":630,"y":300,"wires":[["5ef404b2.66611c"],[]]},{"id":"5ef404b2.66611c","type":"ui_gauge","z":"aa8a73c7.8e389","name":"gauge1","group":"5f9b3db8.6e91c4","order":2,"width":0,"height":0,"gtype":"wave","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":300,"wires":[]},{"id":"f8df3e87.055c5","type":"inject","z":"aa8a73c7.8e389","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":450,"y":300,"wires":[[]]},{"id":"79e1f515.fb62dc","type":"ui_button","z":"aa8a73c7.8e389","name":"","group":"5f9b3db8.6e91c4","order":3,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":470,"y":260,"wires":[[]]},{"id":"ae5c4fc5.6475b","type":"function","z":"aa8a73c7.8e389","name":"dude","func":"if(msg.payload === true)\n    context.value = 0;\n\nif (!context.value) {\n  context.value = 0;\n}\ncontext.value +=1;\n\nif(context.value >100){\n    context.value = 0;\n}\n    \nmsg.count = context.value;\nreturn { payload: context.value };","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["827c0d69.2982"]]},{"id":"827c0d69.2982","type":"ui_gauge","z":"aa8a73c7.8e389","name":"gauge2","group":"5f9b3db8.6e91c4","order":2,"width":0,"height":0,"gtype":"wave","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":500,"wires":[]},{"id":"1163647b.74fe5c","type":"inject","z":"aa8a73c7.8e389","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":500,"wires":[[]]},{"id":"513da584.f3cc8c","type":"ui_button","z":"aa8a73c7.8e389","name":"","group":"5f9b3db8.6e91c4","order":3,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":230,"y":440,"wires":[[]]},{"id":"9595856.a529778","type":"http response","z":"aa8a73c7.8e389","name":"allo2","statusCode":"","headers":{},"x":970,"y":340,"wires":[]},{"id":"f0d4ae7f.3ec41","type":"inject","z":"aa8a73c7.8e389","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"","x":250,"y":680,"wires":[["69e37fd2.98b6a"]]},{"id":"69e37fd2.98b6a","type":"change","z":"aa8a73c7.8e389","name":"Store time","rules":[{"t":"set","p":"timestamp","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":680,"wires":[[]]},{"id":"db457885.0a85d8","type":"http in","z":"aa8a73c7.8e389","name":"","url":"/hello-data","method":"get","swaggerDoc":"","x":260,"y":720,"wires":[["1d729560.8c243b"]]},{"id":"1d729560.8c243b","type":"change","z":"aa8a73c7.8e389","name":"Copy time","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"timestamp","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":720,"wires":[["68b2835d.a168ac"]]},{"id":"68b2835d.a168ac","type":"template","z":"aa8a73c7.8e389","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Time: {{ timestamp }}</h1>\n    </body>\n</html>","x":610,"y":720,"wires":[["54408443.ad10ec"]]},{"id":"54408443.ad10ec","type":"http response","z":"aa8a73c7.8e389","name":"","x":750,"y":720,"wires":[]},{"id":"80893cf6.89c3d","type":"ui_template","z":"aa8a73c7.8e389","group":"5f9b3db8.6e91c4","name":"","order":6,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>RPM Min</span>\n  <span flex>RPM Max</span>\n  <span flex>Failure Prob</span>\n  <span flex>Machine type</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"machine in msg.payload.factory\">\n  <span flex style=\"color: green\">{{machine.min}}</span>\n  <span flex style=\"color: red\">{{machine.max}}</span>\n  <span flex style=\"color: black\">{{machine.failProb}}%</span>\n  <span flex style=\"color: black\">{{machine.name}}</span>\n  <div id=\"val\" value={{machine.min}}>ici</div>\n</div>\n<canvas id=\"myCanvas\" width=\"200\" height=\"500\" style=\"border:1px solid #000000;\"></canvas>\n\n<script>\n\n// Va chercher le payload et démarre la loop de refresh\n(function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        update(data);\n    });\n})(scope);\n\n// Boucle principale\nupdate = function(data) {\n    ligne(data.factory.machine00.min);\n};\n\nligne = function(pos) {\n    var c = document.getElementById(\"myCanvas\");\n    var ctx = c.getContext(\"2d\");\n    ctx.beginPath();\n    ctx.clearRect(0, 0, c.width, c.height);\n    ctx.moveTo(0, pos);\n    ctx.lineTo(200, pos);\n    ctx.stroke();\n}\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":1040,"wires":[[]]},{"id":"db0d61f0.bce81","type":"function","z":"aa8a73c7.8e389","name":"","func":"min = Math.round(Math.random()*1000);\nmax = Math.round((Math.random()*10000)+1000);\n\nmsg.payload = {\n  factory: {\n    machine00: {\n      min: min,\n      max: max,\n      failProb: 20,\n      name: \"GE 5200\"\n    },\n    machine01: {\n      min: min*5,\n      max: max*2,\n      failProb: 10,\n      name: \"GE 5200-2\"\n    }\n  },\n  script : \"var c = document.getElementById('myCanvas'); var ctx = c.getContext('2d');    ctx.moveTo(0, 0);    ctx.lineTo(200,\" + min + \");  ctx.stroke(); console.log('hein?');\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1040,"wires":[["80893cf6.89c3d"]]},{"id":"d99ea142.def7","type":"inject","z":"aa8a73c7.8e389","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":"","x":230,"y":1040,"wires":[["db0d61f0.bce81","452ba00.67fa16"]]},{"id":"7f495b37.235ac4","type":"ui_ui_control","z":"aa8a73c7.8e389","name":"","x":380,"y":1300,"wires":[[]]},{"id":"132783f6.0b7cdc","type":"ui_chart","z":"aa8a73c7.8e389","name":"","group":"5f9b3db8.6e91c4","order":7,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":690,"y":1100,"wires":[[]]},{"id":"452ba00.67fa16","type":"function","z":"aa8a73c7.8e389","name":"","func":"min = Math.round(Math.random()*1000);\nmax = Math.round((Math.random()*10000)+1000);\n\nmsg.payload = {\n  value : min \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1100,"wires":[["132783f6.0b7cdc"]]},{"id":"5f9b3db8.6e91c4","type":"ui_group","name":"Group 1","tab":"59cb160c.422c78","order":1,"disp":true,"width":6},{"id":"59cb160c.422c78","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]
